{# Expects: exif (dict), photo_date (string|None) #}
{% if exif %}
<div class="exif-bar">
    {% if photo_date %}<span class="exif-date">{{ photo_date }}</span>{% endif %}
    <span class="exif-fields">
        {% set fields = [] %}
        {% if exif.camera %}{% set _ = fields.append(exif.camera) %}{% endif %}
        {% if exif.lens %}{% set _ = fields.append(exif.lens) %}{% endif %}
        {% if exif.focal_length %}{% set _ = fields.append(exif.focal_length + "mm") %}{% endif %}
        {% if exif.aperture %}{% set _ = fields.append("ƒ/" + exif.aperture) %}{% endif %}
        {% if exif.shutter_speed %}{% set _ = fields.append(exif.shutter_speed + "s") %}{% endif %}
        {% if exif.iso %}{% set _ = fields.append("ISO " + exif.iso) %}{% endif %}
        {% if exif.white_balance %}{% set _ = fields.append(exif.white_balance) %}{% endif %}
        {% if exif.metering %}{% set _ = fields.append(exif.metering) %}{% endif %}
        {% if exif.exposure_comp %}{% set _ = fields.append(exif.exposure_comp + " EV") %}{% endif %}
        {{ fields | join(" · ") }}
    </span>
</div>
{% endif %}
